<% layout("layouts/boilerplate") %>

        <div class="row mt-4">
            <div class="col-8 offset-2">
                <h3>Edit your Listing</h3>
                <form method="post" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" required name="listing[title]" value="<%= listing.title %>">
                        <div class="invalid-feedback">Please enter the title</div>
                    </div>


                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" required class="form-control"><%= listing.description %></textarea>
                        <div class="invalid-feedback">Please enter the short description</div>
                    </div>

                    Original Image
                    <br>
                    <img src="<%= originalImageUrl %>" alt="">

                    <div class="mb-3 mt-3">
                        <label for="image" class="form-label">Upload New Image</label>
                        <input type="file" name="listing[image]" class="form-control">
                        <div class="invalid-feedback">Please enter valid link for image</div>
                    </div>


                    <div class="row">

                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="listing[price]" required class="form-control" value="<%= listing.price %>">
                            <div class="invalid-feedback">Please enter the price</div>
                        </div>
                        
                        
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="listing[country]" required class="form-control" value="<%= listing.country %>">
                            <div class="invalid-feedback">Country name should be valid</div>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" required class="form-control" value="<%= listing.location %>">
                        <div class="invalid-feedback">Please enter the price</div>
                    </div>

                    <button class="btn mt-3 add-btn">Edit</button>
                </form>
                <br>
            </div>
        </div>

        <script src="/js/script.js"></script>