<% layout("layouts/boilerplate") %>
    <script>
        const mapToken = "<%= process.env.MAP_TOKEN %>";
        const listing = <%- JSON.stringify(listing) %>;
    </script>

    <body>
        <div class="row mt-4">
            <div class="col-8 offset-2">
                <h3>
                    <%= listing.title %></b>
                </h3>
            </div>
            <div class="card listing-card col-8 offset-2 show-card">
                <img src="<%= listing.image.url %>" class="card-img-top show-img2" alt="listing_image">
                <div class="card-body">
                    <p class="card-text"><span class="h-effect">Hosted by : <%= listing.owner.username %></span></p>
                    <p class="card-text">
                        <%= listing.description %>
                    </p>
                    <p class="card-text"><b>&#8377;<%= listing.price.toLocaleString("en-IN") %></b> </p>
                    <i class="uil uil-location-point fs-5"></i>
                    <span class="h-effect"><b>
                            <%= listing.location %>
                        </b>, <%= listing.country %></span>
                </div>

            </div>
            <br>

            <% if(currUser && currUser._id.equals(listing.owner._id)){ %>

                <div class="btns mb-4 col-8">
                    <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3">Edit</a>

                    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                        <button class="btn add-btn offset-4">Delete</button>
                    </form>
                </div>
                <% } %>

                    <div class="col-8 offset-2">
                        <% if(currUser){ %>
                            <hr>
                            <h3>Leave a Review</h3>
                            <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate
                                class="needs-validation">
                                <div class="mt-4">
                                    <label class="form-label" for="rating">Rating</label>
                                    <fieldset class="starability-coinFlip">
                                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]"
                                            value="1" checked aria-label="No rating." />
                                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                        <label for="first-rate1" title="Terrible">1 star</label>
                                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                        <label for="first-rate2" title="Not good">2 stars</label>
                                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                        <label for="first-rate3" title="Average">3 stars</label>
                                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                        <label for="first-rate4" title="Very good">4 stars</label>
                                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                        <label for="first-rate5" title="Amazing">5 stars</label>
                                    </fieldset>
                                </div>
                                <div class="mt-4">
                                    <label class="form-label" for="comment">Comments</label>
                                    <textarea name="review[comment]" id="comment" class="form-control" cols="30"
                                        rows="10" required></textarea>
                                    <div class="invalid-feedback">Please leave your lovely comment</div>
                                </div>

                                <button class="btn btn-outline-dark mt-3">Submit</button>
                            </form>

                            <% } %>

                                <!-- <hr class="mt-3"> -->

                                <% if(listing.reviews.length> 0){ %>
                                    <div class="row">
                                        <p><b>All Reviews</b></p>
                                        <% for(review of listing.reviews){ %>
                                            <div class="card col-5 ms-5 mb-5">
                                                <div class="card-body p-2">
                                                    <h5 class="cart-title "><i class="uil uil-user-circle fs-3"></i> @
                                                        <%= review.author.username %>
                                                    </h5>
                                                    <p class="starability-result card-text"
                                                        data-rating="<%= review.rating %>"></p>
                                                    <p class="card-text">
                                                        <%= review.comment %>
                                                    </p>
                                                </div>
                                                <div class="position-absolute top-0 start-100 translate-middle">

                                                    <form method="POST"
                                                        action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                                                        
                                                            <button class="rounded-circle btn btn-sm btn-dark"><i
                                                                    class="fs-5 uil uil-times"></i></button>
                                                            
                                                    </form>
                                                </div>
                                            </div>
                                            <% } %>
                                    </div>
                                    <% } %>
                    </div>
                    <div class="col-8 offset-2 mb-4">
                        <hr>
                        <h3>Where you'll be</h3>
                        <div id="map" class="rounded"></div>
                    </div>
                </div>
    </body>